*{
   background-color: black;
}
.first{
    height: 200px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    border: transparent;
    border-collapse: collapse;
}

.Mumbai{
    color: black;
    background-color: red;
    text-align: center;
    border-left: 10px solid red;
}

.Parcel{
    color: white;
    background-color: black;
    vertical-align: bottom;
    border-left: 10px solid black;
}

.Delhi{
    color: black;
    background-color: yellow;
    height: 45px;
}

.Kolkata{
    color: black;
    background-color: rgb(76, 58, 236);
}
.number{
    color: black;
    background-color: red;
    text-align: center;
    border: 10px solid black;

}
.number1{
    color: black;
    border: 10px solid black;
    height: 45px;
    display: inline-block;
}
.number2{
    color: black;
    background-color: rgb(76, 58, 236);
    border: 10px solid black;
}
.display{
    height: 250px;
    width: 900px;
    border: 2px solid black;
    margin-top: 3%;
    padding: 5%;
    position: relative;
}

#Name{
    height: 95px;
    width: 40%;
    border: none;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    background-color: black;
    
}
#Location{
    height: 95px;
    width: 40%;
    border: none;
    font-weight: bolder;
    font-size: x-large;
    color: white;
     background-color: black;
    
}
.selected{
    background-color: black;
}
#Selected{
    height: 95px;
    width: 450px;
    border: none;
    color: aqua;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    background-color: black;
}
.red{
    height: 195px;
    width: 312px;
    border: none;
    position: absolute;
    top: 0%;
    left: 45%;
    padding: 8%;
    color: red;
    font-weight: 500;
}
.redpr{
    height: 70%;
}
.below{
    background-color: black;
    position: relative;
    margin-top: -55px;
}
.colorbox{
margin-top: 10px;
color: white;
position: absolute;
top: 60%;
left: 90%;

}

#box{
    height: 25px;
    width: 25px;
   
}
.lstbtn{
height: 100vh;
background-color: black;
}
.btn{
    background-color: yellowgreen;
    height: 55px;
    width: 120px;
   
}
#Mumbai1{
    display: inline-block;
   
}
#Delhi1{
    display: inline-block;
 
}
#Kolkata1{
    display: inline-block;
 
}
.numbers{
    display: inline-block;
}